In [1]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.mas.rows=5)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.2     ✔ purrr   1.0.1
✔ tibble  3.2.1     ✔ dplyr   1.1.1
✔ tidyr   1.3.0     ✔ stringr 1.5.0
✔ readr   2.1.3     ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.2     ✔ rsample      1.1.1
✔ dials        1.1.0     ✔ tune         1.0.1
✔ infer        1.0.4     ✔ workflows    1.1.2
✔ modeldata    1.0.1     ✔ workflowsets 1.0.0
✔ parsnip      1.0.3     ✔ yardstick    1.1.0
✔ recipes      1.0.4

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Dig deeper into tidy modeling with R at https://www.tmwr.org

In [8]:
url<-"https://raw.githubusercontent.com/Muskandavee/PROPOSAL-/main/heart.csv?token=GHSAT0AAAAAACIL7C5PAWDXJXM6C4TCPZTGZJ4KX5Q"

In [9]:
download.file(url, "data/heart.csv")
heart_disease_data<-read_csv("data/heart.csv")|>
mutate(HeartDisease=as_factor(HeartDisease))|>
mutate(HeartDisease=ifelse(HeartDisease==1, "Yes", "No"))|>
select(Age:HeartDisease)

heart_disease_slice<-heart_disease_data|>
slice(1:5)
heart_disease_slice

Rows: 918 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (5): Sex, ChestPainType, RestingECG, ExerciseAngina, ST_Slope
dbl (7): Age, RestingBP, Cholesterol, FastingBS, MaxHR, Oldpeak, HeartDisease

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Age Sex ChestPainType RestingBP Cholesterol FastingBS RestingECG MaxHR
1 40  M   ATA           140       289         0         Normal     172
2 49  F   NAP           160       180         0         Normal     156
3 37  M   ATA           130       283         0         ST          98
4 48  F   ASY           138       214         0         Normal     108
5 54  M   NAP           150       195         0         Normal     122
  ExerciseAngina Oldpeak ST_Slope HeartDisease
1 N              0.0     Up       No
2 N              1.0     Flat     Yes
3 N              0.0     Up       No
4 Y              1.5     Flat     Yes
5 N              0.0     Up       No

In [10]:
set.seed(1234)
heart_disease_split <- initial_split(heart_disease_data, prop = 0.75, strata = HeartDisease)
heart_disease_train <- training(heart_disease_split)
heart_disease_test <- testing(heart_disease_split)
heart_disease_slice_train<-heart_disease_train |>
slice(1:5)
heart_disease_slice_train

  Age Sex ChestPainType RestingBP Cholesterol FastingBS RestingECG MaxHR
1 37  M   ATA           130       283         0         ST          98
2 39  M   NAP           120       339         0         Normal     170
3 54  M   ATA           110       208         0         Normal     142
4 48  F   ATA           120       284         0         Normal     120
5 42  F   NAP           115       211         0         ST         137
  ExerciseAngina Oldpeak ST_Slope HeartDisease
1 N              0       Up       No
2 N              0       Up       No
3 N              0       Up       No
4 N              0       Up       No
5 N              0       Up       No